{% extends 'partial/base.html'%}
{% load crispy_forms_tags %}
{% block title %}Login Page{% endblock %}
{% block content %}
<div class="cover">
    <div class="container"  >
        <div class = 'row mt-5 pt-4'  >
            <div class="clo-md-5 offset-md-4">
                <div class="card my-3 shadow" >
                    <P></P>
                    <h4><center> Loging Page</center></h4>
                     <hr>
                    <div class="card-body">
                         <form method="POST">
                             {% csrf_token %}
                             {{ form}}
                             <p></p>
                             <input class="btn btn-primary btn-block" type="submit" value="Login">
                         </form>
                    </div>
                    <hr>
                    <div class="text-center my-1">
                        <a href="">Forget Password</a>
                    </div>
                    <hr>
                    <div class=" text-center my-1">
                          <a class="btn btn-success" href="{% url 'users-sign-up' %}">Create an Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}